---
# Assumes:
#   - release-drafter is used to create release notes
#     (see https://github.com/marketplace/actions/release-drafter)
#   - main branch is protected
name: Bump version
on:
  workflow_dispatch:
    inputs:
      comments:
        description: Comments
        required: false
        type: string
      project-metadata:
        description: File containing project metadata (e.g. pyproject.toml)
        required: false
        default: pyproject.toml
        type: string
      pipeline-description:
        description: Boolean flag to update pipeline_description.json
        required: false
        default: false
        type: boolean
  workflow_call:
    inputs:
      project-metadata:
        description: File containing project metadata (e.g. pyproject.toml)
        required: false
        default: pyproject.toml
        type: string
      pipeline-description:
        description: Boolean flag to update pipeline_description.json
        required: false
        default: false
        type: boolean
    secrets:
      BP_PAT:
        required: true

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Grab previous version
        id: semver
        uses: khanlab/actions/.github/actions/action-version_task-updatePrereleaseVersion@v0.3.4
        with:
          project-metadata: ${{ inputs.project-metadata }}
          bp-pat: ${{ secrets.BP_PAT }}

      - name: Update version in ${{ inputs.project-metadata }}
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: ${{ inputs.project-metadata }}
          find: version = "(?:([0-9]+\.[0-9]+\.[0-9]+.+)|([0-9]+\.[0-9]+\.[0-9]+))"
          replace: version = "${{ steps.semver.outputs.new-version }}"

      - name: Update pipeline description
        if: inputs.pipeline-description
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "**/pipeline_description.json"
          find: '"Version": "(?:([0-9]+\.[0-9]+\.[0-9]+.+)|([0-9]+\.[0-9]+\.[0-9]+))"'
          replace: '"Version": "${{ steps.semver.outputs.new-version }}"'

      - name: Commit changes
        uses: khanlab/actions/.github/actions/action-version_task-commit@v0.3.4
        with:
          version: ${{ steps.semver.outputs.new-version }}
          bp-pat: ${{ secrets.BP_PAT }}
