---
# Assumes:
#   - release-drafter is used to create release notes
#     (see https://github.com/marketplace/actions/release-drafter)
#   - main branch is protected
name: Release package on GH
on:
  workflow_dispatch:
    inputs:
      comments:
        description: Comments
        required: false
        type: string
      project-metadata:
        description: File containing project metadata (e.g. pyproject.toml)
        required: false
        default: pyproject.toml
        type: string
      pipeline-description:
        description: Boolean flag to update pipeline_description.json
        required: false
        default: false
        type: boolean
  workflow_call:
    inputs:
      comments:
        description: Comments
        required: false
        type: string
      project-metadata:
        description: File containing project metadata (e.g. pyproject.toml)
        required: false
        default: pyproject.toml
        type: string
      pipeline-description:
        description: Boolean flag to update pipeline_description.json
        required: false
        default: false
        type: boolean
    secrets:
      BP_PAT:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Print author
        run: |
          echo "Author: ${{ github.triggering_actor }}"
          echo "Comments: ${{ inputs.comments }}"

      - name: Grab release version
        id: semver
        uses: khanlab/actions/.github/actions/action-version_task-updateReleaseVersion@v0.3.4
        with:
          bp-pat: ${{ secrets.BP_PAT }}

      - name: Update version in ${{ inputs.project-metadata }}
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: ${{ inputs.project-metadata }}
          find: version = "(?:([0-9]+\.[0-9]+\.[0-9]+.+)|([0-9]+\.[0-9]+\.[0-9]+))"
          replace: version = "${{ steps.semver.outputs.new-version }}"

      - name: Update pipeline description
        if: inputs.pipeline-description
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "**/pipeline_description.json"
          find: '"Version": "(?:([0-9]+\.[0-9]+\.[0-9]+.+)|([0-9]+\.[0-9]+\.[0-9]+))"'
          replace: '"Version": "${{ steps.semver.outputs.new-version }}"'

      - name: Commit changes to protected branch
        uses: khanlab/actions/.github/actions/action-version_task-commit@v0.3.4
        with:
          version: ${{ steps.semver.outputs.new-version }}
          bp-pat: ${{ secrets.BP_PAT }}

      - name: Publish changelog
        uses: release-drafter/release-drafter@v6
        with:
          name: ${{ steps.semver.outputs.new-version }}
          tag: v${{ steps.semver.outputs.new-version }}
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.BP_PAT }}
